.jumbotron {
    background-image: url('storetes.jpg');
    background-size: cover;
    height: 700px;

}

.jumbotron .display-4{
    color: darkorange;
}

.jumbotron .lead {
    color: darkgrey;
}

.jumbotron .lead1 {
    color: rgb(231, 177, 0);
}